@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regras customizadas que usamos no final do App.jsx */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Scrollbars customizadas finas e transparentes */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;  /* Vertical mais fina */
  height: 8px; /* Horizontal mais grossa para facilitar o clique */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* --- BARRA VERTICAL (CINZA DISCRETA) --- */
.custom-scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(156, 163, 175, 0.2);
  border-radius: 10px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(156, 163, 175, 0.15);
}
.custom-scrollbar::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(156, 163, 175, 0.4);
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(156, 163, 175, 0.3);
}

/* --- BARRA HORIZONTAL (VERMELHA CLARO) --- */
.custom-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(227, 0, 15, 0.4);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgba(227, 0, 15, 0.8);
}



@media print {
  body * {
    visibility: hidden;
  }

  .print-schedule,
  .print-schedule * {
    visibility: visible;
  }

  .print-schedule {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    border: none;
    box-shadow: none;
  }

  .print-proposta,
  .print-proposta * {
    visibility: visible;
  }

  .print-proposta {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    border: none;
    box-shadow: none;
  }

  .no-print {
    display: none !important;
  }

  .print-area-wrapper {
    overflow: visible !important;
    background: white !important;
  }
}